@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>
<br>
<h2>Manage and check out books!</h2>
<br>
<h3>~ Please Sign In ~</h3>
<br>

<p>@Html.ActionLink("View Books", "Index", "Books")</p>
<p>@Html.ActionLink("View Authors", "Index", "Authors")</p>