@{
  Layout = "_Layout";
}
@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Book;

<h2>Add an Book!</h2>

<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title, "Enter Book Title:")
  @Html.TextBoxFor(model => model.Title) 

  <br>
  <br>

  @Html.LabelFor(model => model.Genre, "Enter Genre:")
  @Html.TextBoxFor(model => model.Genre)

  <br>
  <br>

  <input type="submit" value="Add Author!"/>
}

